body{
margin:0;
background:black;
font-family:Arial;
scroll-behavior:smooth;
}

/* SECCIONES */

.spot{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

/* SPOT INICIAL */

.inicio h1{
font-size:70px;
color:red;
cursor:pointer;
animation: brillo 2s infinite alternate;
}

.inicio p{
color:white;
font-size:20px;
}

/* TITULO ROBOTICA */

.titulo{
color:red;
font-size:50px;
margin-bottom:20px;
}

/* TEXTO ROBOTICA */

.texto{
max-width:800px;
line-height:1.7;
font-size:18px;
}

/* CANVAS */

canvas{
width:100%;
height:100%;
}

/* EFECTO */

@keyframes brillo{

from{
text-shadow:0 0 10px red;
}

to{
text-shadow:0 0 30px red;
}

}
.boton{

padding:20px 40px;
font-size:30px;
background:red;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
transition:0.3s;

}

.boton:hover{
transform:scale(1.1);
background:#ff3333;
}
